.vscode/
.env
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local

# Node / Vite
node_modules/
dist/
coverage/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Build / packaging artifacts
**/index.zip