/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */
:root {
    --biggest-font-size: 2.5rem; 
    --h1-font-size: 1.5rem; 
    --h2-font-size: 1.25rem; 
    --h3-font-size: 1rem; 
    --normal-font-size: .938rem; 
    --small-font-size: .813rem; 
    --smaller-font-size: .75rem; 

    /* Fonts */
    --nav-font: "Montserrat";
    --header-font: "Kanit";

    /* New Color Palette */
    --brightest: #F0DBB6;
    --brighter: #DAC6A2;
    --bright: #C4B08D;
    --mid-color: #978564;
    --dim: #6B5A3B;
    --dimmer: #554527;
    --dimmest: #3E2F12;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
body {
    background-color: var(--brightest); /* Keep background-color defaulted to brightest */
    scroll-behavior: smooth; /* Allow for smooth scrolling when clicking links to sections of website */
}

/* HEADER and NAV */
header {
    background-color: var(--dimmest); /* Set background color of header */
    padding: 2%; /* Allow for 2% of the container's spacing around the header for neater appearance */
    position: fixed; /* Set the header to be fixed at the top of the screen */
    display: flex; /* Make element a flex container */
    height: 10vh; /* Set responsive height for header */
    margin: auto; /* center the header */
    width: 92%; /* Set width of the header to be 92% of its container(body) */
    right: 0; /* Allow for margin auto to take place */
    left: 0; /* Allow for margin auto to take place */
}

.headerName {
    font-family: var(--header-font); /* Set the font of the header at the top left of the header */
    color: var(--brightest); /* Set the color to be the brighest color for the headerName text */
    align-content: center; /* Align content vertically(flex-item) */
    font-size: x-large; /* Increase font size */
    text-align: center; /* Center text horizontally */
    padding-left: 2%; /* Allow for some space between the left edge of header and the headerName */
    font-weight: 150; /* Make font weight stronger */
    width: 15%; /* Set the width of the headerName div */
}

.navbar {
    font-family: var(--nav-font); /* Set font family to nav font */
    margin-left: auto; /* justify the navigation bar to the right */
    display: flex; /* Make a navbar a flex container */
    width: 45%; /* Set explicit width of navbar */
}

.nav__links {
    justify-content: flex-end; /* Set flex items within container to be justified to the right end of the container */
    align-items: center; /* Center items vertically */
    display: flex; /* Make nav__links(ul) a flex container */
    width: 100%; /* Set explicit width to keep content from overflowing */
}

.navbar li {
    list-style-type: none; /* Remove <li> bullet points */
    align-content: center; /* Center content vertically */
    text-align: center; /* Center text horizontally */
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* HOME SECTION */
#home {
    margin-bottom: 10vh;
    padding-top: 12vh;
    position: fixed;
    margin: auto;
    width: 90%;
    right: 0;
    left: 0;
}

.homewrapper {
    justify-content: center;
    display: flex;
}

.imageContainer {
    justify-content: center;
    display: flex;
    margin: auto;
}

.imageContainer img {
    display: block;
    width: 60%;
}

.homeDesc {
    box-shadow: .2rem .2rem 1rem black;
    background-color: var(--dimmest);
    font-family: var(--header-font);
    border-radius: 0 0 2% 2%;
    color: var(--brightest);
    text-align: center;
    font-size: x-large;
    padding-top: 2vh;
    line-height: .9;
    font-weight: 300;
    height: 390px;
    width: 350px;
    margin: auto;
    padding: 5%;
}

.descHeader {
    padding-bottom: 8vh;
    font-size: large;
    line-height: 2;
    color: white;
}

.desc {
    font-family: var(--nav-font);
    font-size: small;
    color: white;
}

/* ABOUT SECTION */
#about {
    background-color: var(--dimmer);
}

#proficiencies {
    background-color: var(--brightest);
}

#contact {
    background-color: var(--brightest);
}

/* INTERSECTION OBSERVER */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}